<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% seo %}<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">{% include _enqueue/styles.html %}
</head>
<body>
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header clearfix">
        <div class="container">
            <div id="brand" class="site-brand clearfix">
                <h1 class="site-title"><a href="/"><img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="{{ site.title }}"></a></h1>
                <h2 class="site-description">{{ site.slogan }}</h2>
            </div>
        </div>
    </header>
    <!-- #masthead  -->