
    <main id="main" class="site-main clearfix">
        <div class="container">
            <div class="game-item">
                <div class="item-icon">
                    {% if page.image %}
                    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
                    {% endif %}
                </div>
                <div class="item-content">
                    <h1 class="page-title">{{ page.title }}</h1>
                    <p class="page-description">{{ page.description }}</p>
                </div>
            </div>
            <!-- .game-item  -->
            {% if page.screens %}
            <div class="game-screens-wrap">
                <div class="game-screens">
                    {% assign screens = page.screens %}
                    {% for shot in screens %}
                    <div class="screen-item"><a href="{{ shot | relative_url }}" class="lsb-preview" data-lsb-group="gallery"><img src="{{ shot | relative_url }}"></a></div>
                    {% endfor %}
                </div>
                <!-- .game-screens  -->
            </div>
            {% endif %}
            {% if page.content %}
            <div class="game-content">
                {{ page.content }}
            </div>
            <!-- .game-content  -->
            {% endif %}
            {% if page.appstore or page.googleplay %}
            <div class="game-download">
                {% if page.appstore %}
                <a href="{{ page.appstore | absolute_url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/assets/images/appstore.svg' | relative_url }}">
                </a>
                {% endif %}
                {% if page.googleplay %}
                <a href="{{ page.googleplay | absolute_url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/assets/images/googleplay.svg' | relative_url }}">
                </a>
                {% endif %}
            </div>
            <!-- .game-download  -->
            {% endif %}
            <p class="back-to-home"><a href="/">&larr; Back to Homepage</a></p>
        </div>
    </main>
    <!-- #main  -->