@import "_comments.scss";
/*
 *	# Footer
 *-------------------------------------------------------------------------*/
#colophon {
    background-color: #1e2856;
    color: #fff;
    padding: 45px 0;
    .container {
        text-align: center;
    }
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

#footer-menu {
    margin-bottom: 30px;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        li {
            margin: 0 16px;
        }
    }
}

#footer-info {
    p {
        margin: 0;
    }
}